section{

    > h2{
      text-align: center;
      font-size: 3rem;
    }
  }
  
  #displayMovies{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
  
    > .movieCard{
      width: 300px;
      height: 200px;
      border: 2px solid black;
      border-radius: 5px;
      padding: 0 5px;
  
      position: relative;
  
      > .editButton{
        position: absolute;
        top: 5px;
        right: 5px;
      }
  
      > h3{
        text-align: center;
      }
    }
  }