body {
    height: 1000vh;
}

.customInput {
    padding: 10px;
    border: 3px solid black;
}

.customInput > input {
    display: none;
}

.customInput > label {
    padding: 9px 5px;
    border: 1px solid blue;
    background-color: brown;
}

.customInput > input:checked + label {
    background-color: green;
}

::selection {
    color: rgb(255, 209, 123);
    background-color: black;
}

::first-letter {
    font-size: 32px;
}

::first-line {
    color: rgb(106, 106, 236);
}

::-webkit-scrollbar {
    width: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background-color: blueviolet;
}
/* 
input:read-only {

} */