input[type="text"], 
input[type="email"],  
input[type="number"], 
textarea {
    border: none; 
    border-bottom: 1px solid #000; 
    outline: none; 
    padding: 5px 0; 
    width: 100%; 
    box-sizing: border-box; 
}

.background {
    background-color: white;
    margin: 50px auto;
    width: 30%;
    padding: 30px;
    display: block;
}

.rForm {
    width: 100%;
}

h1 {
    text-align: center;
}

body {
    background-color: rgb(255, 225, 230);
}

input[type="submit"] {
    border: none;  
    outline: none; 
    background-color: black;
    color: white;
    padding: 5px 30px;
}
