body {
    background-color: #aaaaaa;
    margin: 0 auto;
    max-width: 60rem;
}

nav {
    /* height: 60px; */
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    padding-top: 3px;
}

.logo {
    display: flex;
}

img {
    max-width: 100%;
    width: 100px;
}

header > nav > ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

header > nav > ul > li > a {
    text-decoration: none;
}

.inside {
    background-color: #ffffff;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
}

.grid > div:nth-child(1) {
    grid-area: 1 / 1 / 1 / 1;
}

.grid > div:nth-child(2) {
    grid-area: 1 / 2 / 3 / 2;
}

.grid > div:nth-child(3) {
    grid-area: 2 / 1 / 2 / 1;
}

footer {
    color: #464646;
    text-align: center;
}

@media (min-width: 0px) {
    nav > ul {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
    }
    nav {
        margin: 0 15px;
    }
    .grid {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
    }
    .grid > div:nth-child(3) {
        display: none;
    }
}

    /* grid-area: grid-row-start / 
    grid-column-start / grid-row-end / 
    grid-column-end */

@media (min-width: 576px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 2fr;
        gap: 10px;
    }
    .grid > div:nth-child(1) {
        grid-area: 1 / 1 / 1 / 1;
    }
    
    .grid > div:nth-child(2) {
        grid-area: 1 / 2 / 3 / 2;
        
    }
    
    .grid > div:nth-child(3) {
        grid-area: 2 / 1 / 2 / 1;
        display: grid;
    }
    nav > ul {
        display: flex;
        flex-direction: row;
    }
}